siem-rules/microsoft-sentinel/playbooks/auto-enrichment-playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "IOC Auto-Enrichment Playbook",
    "description": "Automatically enriches IOCs (IPs, domains, file hashes) from Sentinel incidents using threat intelligence feeds.",
    "prerequisites": [
      "VirusTotal API key stored in Azure Key Vault",
      "AbuseIPDB API key stored in Azure Key Vault",
      "Managed Identity with Sentinel Responder role"
    ],
    "version": "1.0.0",
    "tags": ["Enrichment", "ThreatIntelligence", "Automation"]
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "IOC-AutoEnrichment",
      "metadata": {
        "description": "Name of the Logic App playbook"
      }
    },
    "SentinelWorkspaceId": {
      "type": "string",
      "metadata": {
        "description": "Microsoft Sentinel workspace ID"
      }
    },
    "KeyVaultName": {
      "type": "string",
      "metadata": {
        "description": "Azure Key Vault containing API keys"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "KeyVaultConnectionName": "[concat('keyvault-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('KeyVaultConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[variables('KeyVaultConnectionName')]",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
        },
        "parameterValues": {
          "vaultName": "[parameters('KeyVaultName')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "tags": {
        "purpose": "SecurityAutomation",
        "sentinel": "playbook"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_VirusTotal_API_Key": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('VirusTotal-APIKey')}/value"
              },
              "runAfter": {}
            },
            "Get_AbuseIPDB_API_Key": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('AbuseIPDB-APIKey')}/value"
              },
              "runAfter": {}
            },
            "Parse_Incident_Entities": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "kind": { "type": "string" },
                      "properties": { "type": "object" }
                    }
                  }
                }
              },
              "runAfter": {}
            },
            "For_Each_Entity": {
              "type": "Foreach",
              "foreach": "@body('Parse_Incident_Entities')",
              "actions": {
                "Switch_Entity_Type": {
                  "type": "Switch",
                  "expression": "@items('For_Each_Entity')?['kind']",
                  "cases": {
                    "IP_Address": {
                      "case": "Ip",
                      "actions": {
                        "Enrich_IP_VirusTotal": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://www.virustotal.com/api/v3/ip_addresses/@{items('For_Each_Entity')?['properties']?['address']}",
                            "headers": {
                              "x-apikey": "@body('Get_VirusTotal_API_Key')?['value']"
                            }
                          }
                        },
                        "Enrich_IP_AbuseIPDB": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://api.abuseipdb.com/api/v2/check",
                            "headers": {
                              "Key": "@body('Get_AbuseIPDB_API_Key')?['value']",
                              "Accept": "application/json"
                            },
                            "queries": {
                              "ipAddress": "@items('For_Each_Entity')?['properties']?['address']",
                              "maxAgeInDays": "90"
                            }
                          },
                          "runAfter": {
                            "Enrich_IP_VirusTotal": ["Succeeded"]
                          }
                        },
                        "Add_IP_Comment": {
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p><strong>IP Enrichment: @{items('For_Each_Entity')?['properties']?['address']}</strong><br>VT Malicious Votes: @{body('Enrich_IP_VirusTotal')?['data']?['attributes']?['last_analysis_stats']?['malicious']}<br>AbuseIPDB Score: @{body('Enrich_IP_AbuseIPDB')?['data']?['abuseConfidenceScore']}%<br>Country: @{body('Enrich_IP_AbuseIPDB')?['data']?['countryCode']}<br>ISP: @{body('Enrich_IP_AbuseIPDB')?['data']?['isp']}</p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          },
                          "runAfter": {
                            "Enrich_IP_AbuseIPDB": ["Succeeded"]
                          }
                        }
                      }
                    },
                    "FileHash": {
                      "case": "FileHash",
                      "actions": {
                        "Enrich_Hash_VirusTotal": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://www.virustotal.com/api/v3/files/@{items('For_Each_Entity')?['properties']?['hashValue']}",
                            "headers": {
                              "x-apikey": "@body('Get_VirusTotal_API_Key')?['value']"
                            }
                          }
                        },
                        "Add_Hash_Comment": {
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p><strong>File Hash Enrichment: @{items('For_Each_Entity')?['properties']?['hashValue']}</strong><br>VT Detections: @{body('Enrich_Hash_VirusTotal')?['data']?['attributes']?['last_analysis_stats']?['malicious']}/@{body('Enrich_Hash_VirusTotal')?['data']?['attributes']?['last_analysis_stats']?['undetected']}<br>File Type: @{body('Enrich_Hash_VirusTotal')?['data']?['attributes']?['type_description']}<br>First Seen: @{body('Enrich_Hash_VirusTotal')?['data']?['attributes']?['first_submission_date']}</p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          },
                          "runAfter": {
                            "Enrich_Hash_VirusTotal": ["Succeeded"]
                          }
                        }
                      }
                    },
                    "DNS_Domain": {
                      "case": "DnsResolution",
                      "actions": {
                        "Enrich_Domain_VirusTotal": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://www.virustotal.com/api/v3/domains/@{items('For_Each_Entity')?['properties']?['domainName']}",
                            "headers": {
                              "x-apikey": "@body('Get_VirusTotal_API_Key')?['value']"
                            }
                          }
                        },
                        "Add_Domain_Comment": {
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p><strong>Domain Enrichment: @{items('For_Each_Entity')?['properties']?['domainName']}</strong><br>VT Malicious Votes: @{body('Enrich_Domain_VirusTotal')?['data']?['attributes']?['last_analysis_stats']?['malicious']}<br>Registrar: @{body('Enrich_Domain_VirusTotal')?['data']?['attributes']?['registrar']}<br>Creation Date: @{body('Enrich_Domain_VirusTotal')?['data']?['attributes']?['creation_date']}</p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          },
                          "runAfter": {
                            "Enrich_Domain_VirusTotal": ["Succeeded"]
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  }
                }
              },
              "runAfter": {
                "Parse_Incident_Entities": ["Succeeded"],
                "Get_VirusTotal_API_Key": ["Succeeded"],
                "Get_AbuseIPDB_API_Key": ["Succeeded"]
              }
            },
            "Update_Incident_Severity": {
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "tagsToAdd": {
                    "TagsToAdd": ["AutoEnriched", "TI-Checked"]
                  }
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/Incidents"
              },
              "runAfter": {
                "For_Each_Entity": ["Succeeded"]
              }
            }
          },
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "keyvault": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]",
                "connectionName": "[variables('KeyVaultConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/keyvault')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "playbook_name": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "playbook_resource_id": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    }
  }
}
